<div class="container">
  <header>
    <h1>insiderOverflow</h1>
  </header>

   <div class="question-container">
     <%@questions.each do |question|%>
        <a href="/questions/<%=question.id%>"><%=question.title%></a><br>
     <%end%>
   </div>

</div>
