<div class="new-question-container">
  <form class="" action="/questions" method="post" id="new-question-form">
    <div class="question-form">
      <label for="title">Title</label><br>
      <input type="text" name="question[title]"><br>
      <label for="body">Question</label><br>
      <textarea rows="6" cols="60" name="question[body]" form="new-question-form">
      </textarea><br>
      <input type="submit" value="Submit">
    </div>
  </form>

</div>
