<div class="new-comment-container">
  <form class="new_comment_form" action="/questions/<%=@question.id%>/answers/<%=@answer.id%>" method="post" id="new-comment-form">
    <div class="comment-form">
      <label for="title">Reply:</label><br>
      <textarea rows="6" cols="60" name="comment[response]" form="new-comment-form">
      </textarea><br>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
