<div class="comment"
      <p class="margin"><span class="comment"><%=comment.response%></span></p>
      <p class="margin"><span class="user_id_comment">By: <a href="/users/<%=comment.user_id%>"><%=User.find(comment.user_id).username%></a></span></p>
    </div>
