<div class="container">
    <%= erb :"/partials/_errors" %>
    <form class="" action="/login" method="post">
      <input type="email" name="email" placeholder="name@gmail.com" required><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit"  value="Login">
    </form>
</div>
