<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/votes.js"></script>
  <script src="/js/application.js"></script>

  <title>insiderOverflow</title>
</head>
  <header id="header-overflow">
    <a href="/questions"><img src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.png?v=c78bd457575a"id="logo"><h1><small id="small-text">insider</small>Overflow</h1></a>
    <nav>
    <a href="/questions">Home</a>|
    <% if  current_user%>
        <a href="/logout">Logout</a> |
        <a href="/users/<%=session[:user_id]%>">My Profile</a>
        <% else %>
          <a href="/login">Login</a> |
          <input type="button" onclick="location.href='/users/new';" value="Create Profile" class="button" />
    <%end %>
  </nav>
  </header>

<body>
  <%= yield %>
</body>
</html>
